/**
 * Created by lixianqi on 2017/5/3.
 */

/* ¹«¹² */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td, img {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
}
.clearfix::after, .central::after, .widget ul::after, .paging::after, .pagenav::after, .base-tit::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
ul,li,h4,h3,h5,h6,dd,dl,dt,i,a,i{border: 0 none;
    margin: 0;
    outline: medium none;
	font-style:normal;
	list-style: outside none none;
    padding: 0;
	font-weight:500;
}
a,a:hover,a:active{cursor:pointer;text-decoration:none;outline:none;}
button{cursor:pointer;}
a:hover {
    text-decoration: none;
	
}
select,input,input:focus,input:active{outline:none;}
html,body{height:100%;margin:0;padding:0;font-size:17px;font-family:MicrosoftYaHei;}

body{position:relative;}

.commonBody{}
.commonBody .showmore_div{padding:15px 0;text-align:center;}
.commonBody .showmore_div .showm_a{color:#4A4A4A;font-size:22px;}


/* mobile6 */
.m6{}
.m6 .m6_head{padding:30px 0 30px 5%;position:relative;}
.m6 .m6_head .title1{color:#000000;font-size:25px;}
.m6 .m6_head .title2{color:#4A4A4A;padding-left:10px;font-size:13px;}
.m6 .m6_head .bacc{display:inline-block;width:30px;height:20px;position:absolute;right:5%;top:36px;background:url('../img/m6_1.png') no-repeat center center;background-size:contain;}
.m6 .changguan_list{}
.m6 .cg_one{margin-bottom:30px;position:relative;}
.m6 .cg_one .cg_img{height:200px;}
.m6 .cg_one .cg_text{text-align:center;margin:10px 0 0;color:#000000;}

/* mobile5 */
.m5{}
.m5 .m5_head{position:relative;height:80px;border-bottom:1px solid #fbfbfa;}
.m5 .m5_head .m5h_tt{position:absolute;left:3%;top:15px;font-size:15px;color:#9a9691;display:inline-block;}
.m5 .m5_head .m5h_p{position:absolute;left:3%;top:45px;font-size:17px;color:#000000;display:inline-block;}
.m5 .m5_head .refresh_a{position:absolute;right:3%;top:44px;font-size:17px;color:#55c8ff;display:inline-block;}
.m5 .m5_podiv{border-top:1px solid #f4f3f1;overflow:hidden;}

.m5 .m5_podiv .m5p_left_list{background-color:#f3f5f8;display:inline-block;float:left;width:30%;}
.m5 .m5_podiv .m5p_left_list .m5pli{padding:11px 0;}
.m5 .m5_podiv .m5p_left_list .m5pli a{color:#7d7a75;border-left:7px solid #f3f5f8;padding-left:21px;height:41px;line-height:41px;display:inline-block;}
.m5 .m5_podiv .m5p_left_list .m5pli.active{background-color:#ffffff;}
.m5 .m5_podiv .m5p_left_list .m5pli.active a{color:#000000;border-left:7px solid #f63211;}

.m5 .m5_podiv .m5p_right_list{display:inline-block;float:left;width:69%;}
.m5 .m5_podiv .m5p_right_list .m5pli{padding:11px 0;}
.m5 .m5_podiv .m5p_right_list .m5pli a{color:#7d7a75;border-left:7px solid #ffffff;padding-left:21px;height:41px;line-height:41px;display:inline-block;}

/* mobile4 */
.m4{}
.m4 .cg_one{margin-bottom:20px;}


/* mobile3 */
.m3{}
.m3 .cg_one{margin-bottom:20px;}
.m3 .m6_head .sle_input{width:50%;margin-left:2%;font-size:18px;text-align:center;height:32px;line-height:32px;border-radius:32px;border:1px solid #E7E7E7;background:url('../img/index_img1.png') no-repeat 17% center;background-size:auto 70%;background-color:#f6f5f4;}


/* mobile2 */
.m2{}
.m2 .m2_head{height:322px;position:relative;}
.m2 .m2_head .title1{position:absolute;left:3%;bottom:40px;color:#ffffff;font-size:25px;font-family:PingFangSC-Regular;}
.m2 .m2_jie{position:relative;background-color:#ffffff;padding-top:21px;margin-top:-30px;margin-bottom:30px;border-top-left-radius:32px;border-top-right-radius:32px;}
.m2 .m2_jie .m2j_t{margin-bottom:21px;text-align:center;color:#4A4A4A;font-size:22px;}
.m2 .m2_jie .m2j_t i{display:inline-block;vertical-align:middle;width:32px;height:32px;margin-right:12px;background:url('../img/m2_2.png') no-repeat center center;background-size:contain;}
.m2 .m2_jie .m2j_text{transition:all .25s ease-in-out;height:131px;overflow:hidden;margin:0 3%;font-size:18px;line-height:26px;color:#9B9B9B;}
.m2 .m2_jie .m2j_text.down{height:auto;}
.up_show_div{text-align:center;display:none;}
.up_show_div .ups_a{display:inline-block;width:21px;height:12px;background:url('../img/m2_3.png') no-repeat center center;background-size:contain;}
.up_show_div.active .ups_a{display:inline-block;width:21px;height:12px;background:url('../img/m2_30.png') no-repeat center center;background-size:contain;}

.cgpo_t{position:absolute;color:#ffffff;background-color:#DE422E;right:9%;bottom:22px;padding:5px 15px;border-radius:30px;}
.m2 .changguan_list{margin:0px 0 35px;}
.m2 .cg_one .cg_img{margin:0 3%;border-radius:12px;}
.m2 .checkall{text-align:center;height:60px;line-height:60px;color:#ffffff;background-color:#b71900;font-size:18px;}
.m2 .checkall i{margin-right:5%;vertical-align:middle;display:inline-block;width:33px;height:33px;background:url('../img/m2_4.png') no-repeat center center;background-size:contain;}

/* mobile1 */
.m1{height:100%;background:#000000;}
.m1 .m1_bg_div{position:relative;height:100%;}
.m1 .m1t_bg{background-color:#000000;opacity:0.3;position:absolute;top:12%;left:0;right:0;width:100%;height:128px;}
.m1 .m1_t{position:absolute;top:12%;left:0;right:0;width:100%;height:128px;}
.m1 .m1_t i{float:left;margin:20px 3% 0 5%;display:inline-block;width:10%;max-width:50px;height:87px;vertical-align:middle;}
.m1 .m1_t .m1t_t{float:left;display:inline-block;width:75%;margin-top:20px;font-size:30px;line-height:45px;color:#ffffff;font-family:PingFangSC-Regular;}
.m1 .online_a1{color:#ffffff;background-color:#f60000;font-size:28px;text-align:center;height:58px;line-height:58px;display:inline-block;width:60%;max-width:320px;bottom:15%;border-radius:16px;left:0;right:0;margin:0 auto;position:absolute;}
.m1 .online_a2{color:#ffffff;font-size:17px;text-align:center;height:60px;line-height:60px;display:inline-block;bottom:6%;left:0;right:0;margin:0 auto;position:absolute;}

/* index */
.index{background:#ffffff;}
.index.m6 .cg_one{margin-bottom:0;}
.index.m6 .m6_head{padding-top:0;}
.index .header{padding:16px 3%;}
.index .header .sle{padding-left:1%;font-size:18px;height:40px;width:20%;min-width:100px;line-height:40px;border:none;appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
background:url('../img/m2_3.png') no-repeat 98% center;background-size:auto 22%;}
.index .header .sle_input{width:60%;margin-left:2%;font-size:18px;text-align:center;height:32px;line-height:32px;border-radius:32px;border:1px solid #E7E7E7;background:url('../img/index_img1.png') no-repeat 17% center;background-size:auto 70%;background-color:#f6f5f4;}
.index .banner_div{}
.index .for_ul{overflow:hidden;margin:20px auto 40px;}
.index .for_ul li{float:left;display:inline-block;width:25%;text-align:center;}
.index .for_ul li .aimg{display:inline-block;width:60%;min-width:60px;height:80px;}
.index .for_ul li .aimg.aimg1{background:url('../img/id_img1.png') no-repeat center center;background-size:contain;}
.index .for_ul li .aimg.aimg2{background:url('../img/id_img2.png') no-repeat center center;background-size:contain;}
.index .for_ul li .aimg.aimg3{background:url('../img/id_img3.png') no-repeat center center;background-size:contain;}
.index .for_ul li .aimg.aimg4{background:url('../img/id_img4.png') no-repeat center center;background-size:contain;}
.index .intr_div{margin-bottom:20px;}
.index .intr_over{white-space:nowrap;height:232px;overflow:hidden;overflow-x:auto;}
.index .intr_t{color:#283B42;font-size:23px;padding-left:3%;position:relative;}
.index .intr_t .inmore{color:#4A4A4A;font-size:20px;position:absolute;right:3%;top:2px;}
.index .intr_ul{height:210px;margin:20px auto 20px;padding:0 1.5%;}
.index .intr_ul li{float:left;height:210px;display:inline-block;width:35%;max-width:130px;margin:0 1.5%;}
.index .intr_ul li i{display:inline-block;width:100%;height:170px;border-radius:12px;}
.index .intr_ul li .tt{color:#283B42;text-overflow:ellipsis;font-size:18px;display:inline-block;width:100%;overflow:hidden;text-align:center;}





















