<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>研学网</title>
</head>
<body class="commonBody m5">
	<div class="m5_head">
		<span class="m5h_tt">当前位置</span>
		<span id="poicity" class="m5h_p"></span>
		<a class="refresh_a" id="refabtn" href="javascript:;"><i></i>刷新</a>
	</div>
	<div class="m5_podiv">
		<ul id="citys" class="m5p_left_list">
			<!-- <li class="m5pli"><a>热门</a></li>
			<li class="m5pli"><a>北京</a></li>
			<li class="m5pli"><a>天津</a></li>
			<li class="m5pli active"><a>河北</a></li>
			<li class="m5pli"><a>山西</a></li> -->
		</ul>
		<ul id="childrens" class="m5p_right_list">
			<!-- <li class="m5pli"><a>石家庄</a></li>
			<li class="m5pli"><a>唐山</a></li>
			<li class="m5pli"><a>秦皇岛</a></li>
			<li class="m5pli"><a>邯郸</a></li>
			<li class="m5pli"><a>邢台</a></li> -->
		</ul>
		
	</div>
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
	
</body>

<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.html = Utils.getQueryString("html") || "";
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.city = {};//存储所有城市列表
	
/* **************************************** lodding ******************************************** */	
	
	
	loadPage();
	$('#refabtn').on('click',getpoi);//刷新位置
	
	
/* **************************************** setTing ******************************************** */	

	//加载页面
	function loadPage(){
		getpoi();//获取当前位置
		getadds();//获取地址列表
	}

	//获取当前位置
	function getpoi(){
		var city = remote_ip_info['city'];
		if(city == ''){city = '获取位置失败';}
		$('#poicity').html(city);
	}
	
	
	//获取地址列表
	function getadds(){
		var condi = {};
		var url = Base.serverUrl + 'city/';
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			success: function(data){
				if(data){
					var data = data.results || {};
					var data = data[0] || {};
					var citys = data.sub_cat || [];
					g.city = {};//清空
					var html = '';
					for(var i=0,len=citys.length;i<len;i++){
						var d = citys[i] || '';
						var id = d.id || '';
						var name = d.name || '';
						var childrens = d.sub_cat || [];
						g.city[id]= d;
						html+='<li aid="'+id+'" class="m5pli"><a>'+name+'</a></li>';
						
					}
					$('#citys').html(html);
				}
				else{
					var msg = data.message || "获取失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	//获取二级城市
	$('#citys').on('click','.m5pli',function(){
		
		$(this).addClass('active').siblings('li').removeClass('active');
		var aid = $(this).attr('aid') || '';
		if(aid == ''){Utils.alert('城市id为空！');return false;}
		var data = g.city[aid] || {};
		var citys = data.sub_cat || [];
		if(citys.length > 0){$('body,html').animate({scrollTop: 0}, 500);}
		else{//页面跳转
			isgovenue(aid);//查询城市下是否存在场馆 存在的跳转
		}
		var html = '';
		for(var i=0,len=citys.length;i<len;i++){
			var d = citys[i] || '';
			var id = d.id || '';
			var name = d.name || '';
			var childrens = d.sub_cat || [];
			html+='<li aid="'+id+'" class="m5pli"><a>'+name+'</a></li>';
			
		}
		$('#childrens').html(html);
		
	});
	//点击二级城市跳转
	$('#childrens').on('click','.m5pli',function(){
		var aid = $(this).attr('aid') || '';
		if(aid == ''){Utils.alert('城市id为空！');return false;}
		isgovenue(aid);//查询城市下是否存在场馆 存在的跳转
	});
	
	//查询城市下是否存在场馆 存在的跳转
	function isgovenue(aid){
		var aid = aid || '';
		if(g.html == ''){
			Utils.alert('返回页面为空！即将返回首页');
			setTimeout(function(){ location.href="index.html"; },1000);
			return false;
		}
		location.href = g.html+".html?cid="+aid;//跳转带上城市id
		
	}
	
	
});

</script>
</html>