<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/swipe/swipeslider.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>研学网</title>
	<style>
		.swipslider{margin:0;padding:0;}
	</style>
</head>
<body class="commonBody m6 m2 index">
	<div class="header">
		<ul class="h_menu">
			<li class="active"><a href="index.html">推荐</a></li>
			<li><a href="mobile6.html">政策</a></li>
			<li><a href="mobile4.html">回顾</a></li>
			<li><a href="mobile62.html">全国机构</a></li>
		</ul>
		<!-- <input id="ser_input" class="sle_input" type="text" /> -->
	</div>
	<div class="banner_div"> 
		<figure id="full_feature" class="swipslider">
			<!-- <ul class="sw-slides">
			 <li class="sw-slide">
				<img src="../public/img/summer_beach.jpg" alt="Summer beach concept">
			  </li>
			  <li class="sw-slide">
				<img src="../public/img/lang_yie_ar_kung_fu.jpg" alt="Lang from Yie Ar Kung Fu">
			  </li>       
			</ul> -->
		  </figure>
	</div>
	<ul id="fenlei_list" class="for_ul">
		<!-- <li><a href="javascript:;" art='4' class="aimg aimg1"></a></li>
		<li><a href="javascript:;" art='2' class="aimg aimg2"></a></li>
		<li><a href="javascript:;" art='3' class="aimg aimg3"></a></li>
		<li><a href="javascript:;" art='1' class="aimg aimg4"></a></li> -->
	</ul>
	<!--  -->
	<div class="m6_head m6_head1">
		<span class="title1">国内课程</span>
	</div>
	<div class="changguan_list">
		<div class="cg_one">
			<div class="cg_img cg_img1" style="background:url('../public/img/m3_1.png') no-repeat center center;background-size:cover;"></div>
			<span class="cgpo_t">国内研学</span>
		</div>
	</div>
	<!--  -->
	<div class="m6_head m6_head2">
		<span class="title1">国际课程</span>
	</div>
	<div class="changguan_list">
		<div class="cg_one">
			<div class="cg_img cg_img2" style="background:url('../public/img/m3_1.png') no-repeat center center;background-size:cover;"></div>
			<span class="cgpo_t">国际研学</span>
		</div>
	</div>
	<!--  -->
	<div class="m6_head m6_head3">
		<span class="title1">视频</span>
	</div>
	<div class="changguan_list">
		<div class="cg_one">
			<div class="cg_img cg_img3" style="background:url('../public/img/m3_1.png') no-repeat center center;background-size:cover;"></div>
			<span class="cgpo_t">视频列表</span>
		</div>
	</div>
	
	<div class="intr_div">
		<h4 class="intr_t">往期回顾<a href="mobile4.html" class="inmore">更多</a></h4>
		<div class="intr_over">
		<ul id="intr_list" class="intr_ul">
			<!-- <li><i style="background:url('../public/img/m3_1.png') no-repeat center center;background-size:cover;"></i><br/><span class="tt">井冈山革命圣地</span></li>
			<li><i style="background:url('../public/img/m3_1.png') no-repeat center center;background-size:cover;"></i><br/><span class="tt">井冈山革命圣地</span></li>
			<li><i style="background:url('../public/img/m3_1.png') no-repeat center center;background-size:cover;"></i><br/><span class="tt">井冈山革命圣地</span></li>
			<li><i style="background:url('../public/img/m3_1.png') no-repeat center center;background-size:cover;"></i><br/><span class="tt">井冈山革命圣地</span></li> -->
		</ul>
		</div>
	</div>
	<div class="intr_div2">
		<h4 class="intr_t">研学作业<a href="mobile5.html" class="inmore">更多</a></h4>
		<div class="yxz_list">
			<!-- <div class="yx_one">
				<h4 class="yx_t">这里有着我们中华民族血的教训——南京大屠杀纪念馆</h4>
				<p class="yx_p">作者：傅子梅</p>
			</div> -->
		</div>
	</div>
	<div class="intr_div3">
		<h4 class="intr_t">安全方案</h4>
		<ul class="for_ul for_ul2">
			<li><a href="javascript:;" art='4' class="aimg aimg1"></a></li>
			<li><a href="javascript:;" art='2' class="aimg aimg2"></a></li>
			<li><a href="javascript:;" art='3' class="aimg aimg3"></a></li>
		</ul>
	</div>
	<!--  -->
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/swipe/swipeslider.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>

<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";
	//if(g.id == ''){g.id = Utils.offLineStore.get("venueaid",false);}
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	var urls = ['','course/','course/','video/'];
	//g.p_name = ['','国内课程','国际课程','精彩视频'];
	
/* **************************************** lodding ******************************************** */	
	
	
	loadPage();
	
/* **************************************** setTing ******************************************** */	

	//加载页面
	function loadPage(){
		getVenues();//获取banner图
		getFenlei();//获取填充banner图下面 课程分类
		getvenueother(1);//国内课程
		getvenueother(2);//国际课程
		getvenueother(3);//精彩视频
		getReview();//往期回顾列表
		getfeedback();//获取研学作业列表
	}

	//获取研学作业列表
	function getfeedback(){
		var condi = {};
		var url = Base.serverUrl + "feedback/";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			success: function(data){
				if(data){
					var count = data.count || 0;
					if(count > 0){
						var data = data.results || [];
						var html = '';
						for(var i=0,len=data.length;i<len;i++){
							var d = data[i] || '';
							var id = d.id || '';
							var name = d.name || '';
							var autor = d.autor || '';
							html+='<div class="yx_one">'
										+'<h4 class="yx_t">'+name+'</h4>'
										+'<p class="yx_p">作者：'+autor+'</p>'
									+'</div>';
						}
						$('.yxz_list').html(html);
					}else{
						$('.intr_div2').hide();//空的时候隐藏往期回顾
					}
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	
	//获取往期回顾列表
	function getReview(){
		var condi = {};
		var url = Base.serverUrl + "review/";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			success: function(data){
				if(data){
					var count = data.count || 0;
					if(count > 0){
						var data = data.results || [];
						var html = '';
						for(var i=0,len=data.length;i<len;i++){
							var d = data[i] || '';
							var id = d.id || '';
							var name = d.name || '';
							var image_url = d.image_url || '../public/img/no.jpg';
							html+='<li><i style="background:url('+image_url+') no-repeat center center;background-size:cover;"></i><br/><span class="tt">'+name+'</span></li>';
								 
						}
						$('#intr_list').html(html);
					}else{
						$('.intr_div').hide();//空的时候隐藏往期回顾
					}
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	//获取 填充banner图下面 课程分类
	function getFenlei(){
		var condi = {};
		var url = Base.serverUrl + "course_category/";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			success: function(data){
				if(data){
					var count = data.count || 0;
					if(count > 0){
						var data = data.results || [];
						var html = '';
						for(var i=0,len=data.length;i<len;i++){
							var d = data[i] || '';
							var id = d.id || '';
							var name = d.name || '';
							html+='<li><a href="mobile21.html?cid='+id+'" class="aimg">'+name+'</a></li>';
								 
						}
						$('#fenlei_list').html(html);
					}		
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	
	//获取列表 1国内课程、2国际课程、3精彩视频
	function getvenueother(n){
		var n = n || 1;
		var ur = urls[n] || '';
		var condi = {};
		if(n == '2')condi.tag_id = 2;//国际课程
		var url = Base.serverUrl +ur;
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			async: false,
			success: function(data){
				if(data){
					var count = data.count || 0;
					if(count > 0){
						var data = data.results || [];
						var html = '';
						var img = '../public/img/no.jpg';
						for(var i=0,len=data.length;i<len;i++){
							var d = data[i] || '';
							var id = d.id || '';
							var image_url = d.image_url || '../public/img/no.jpg';
							var image_min_url = d.image_min_url || '../public/img/no.jpg';
							if(i==0){img = image_url}//获取第一张照片
						}
						$('.cg_img'+n).css({'background':'url('+img+') no-repeat center center','background-size':'cover'}).on('click',function(){
							//1国内课程、2国际课程、3精彩视频
							if(n == '1'){location.href="mobile21.html";}
							else if(n == '2'){location.href="mobile21.html?tag=2";}
							else if(n == '3'){location.href="mobile7.html";}
							
						});
					}else{
						$('.m6_head'+n).hide();
						$('.cg_img'+n).parents('.changguan_list').hide();
					}		
				}	
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	//获取banner图
	function getVenues(){
		var condi = {};
		//condi.search = ser;
		var url = Base.serverUrl + "course/";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			async: false,
			success: function(data){
				if(data){
					var count = data.count || 0;
					if(count > 0){
						var data = data.results || [];
						var html = '<ul class="sw-slides">';
						var len = data.length;
						len = len > 4 ? 4 : len ;//控制banner 最多4个
						for(var i=0;i<len;i++){
							var d = data[i] || '';
							var id = d.id || '';
							var name = d.name || '';
							var image_url = d.image_url || '../public/img/no.jpg';
							html+='<li class="sw-slide">'
								  +'<img src="'+image_url+'" alt="Summer beach concept">'
								+'</li>';
						}
						html+='</ul>';
						$('#full_feature').html(html);
						//加载banner图
						$('#full_feature').swipeslider({
							transitionDuration: 600,
							autoPlayTimeout: 10000,
							sliderHeight: '40%'
						  });
					}		
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}


});

</script>
</html>