<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/pagination.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>红色汇</title>
</head>
<body class="commonBody m1">
	<div class="m1_bg_div" id="venue_bg" style="background:url('../public/img/m3_1.png') no-repeat center center;background-size:cover;">
		<div class="m1t_bg"></div>
		<h4 class="m1_t"><i style="background:url('../public/img/m1_3.png') no-repeat center center;background-size:cover;"></i>
		<span id="venue_name" class="m1t_t"></span></h4>
		<a href="javascript:;" class="online_a1">在线参观</a>
		<a href="javascript:;" class="online_a2">查看全国场馆</a>
		
	</div>
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>

<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	
/* **************************************** lodding ******************************************** */	
	
	
	loadPage();
	
	
	
	
/* **************************************** setTing ******************************************** */	

	//加载页面
	function loadPage(){
		getvenue();//获取场馆信息
	}
	
	
	//在线参观按钮
	$('.online_a1').on('click',function(){
		Utils.offLineStore.set("venueaid",g.id,false);//存储当前场馆
		location.href="mobile2.html?id="+g.id;
	});
	
	//查看全国场馆按钮
	$('.online_a2').on('click',function(){
		location.href="mobile5.html";
	});
	
	//获取场馆信息
	function getvenue(){
		var id = g.id || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "venue/"+id+'/';
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			success: function(data){
				if(data){
					var d = data || {};
					var id = d.id || '';
					var name = d.name || '';
					var image_url = d.image_url	|| '../public/img/m2_1.png';
					
					$('#venue_bg').css({'background':'url('+image_url+') no-repeat center center','background-size':'cover'});
					$('#venue_name').html(name);
				}
				else{
					var msg = data.message || "获取失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	

});

</script>
</html>