<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/swipe/swipeslider.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>研学网</title>
	<style>
		.swipslider{margin:0;padding:0;}
	</style>
</head>
<body class="commonBody m6 m2 index m21">
	<div class="header">
		<ul class="h_menu"><li class="active">政策解读</li></ul>
		<input id="ser_input" class="sle_input" type="text" />
		<a href="index.html" class="bacc"></a>
	</div> 
	<div class="nd_div">
		<span class="gn active">国家政策</span>
		<span class="gn">地方政策</span>
		<select style="display:none;" id="vue_sel" class="sle"><option value="">选择城市</option></select>
	</div>
	<div style="border-bottom:none;" class="intr_div2">
		<!-- <h4 class="intr_t">研学作业<a class="inmore">更多</a></h4> -->
		<div class="yxz_list m21_list">
			<!-- <div class="yx_one">
				<h4 class="yx_t">关于政协十二届全国委员会第五次会议第3289号（教育类329号）与（教 …</h4>
				<p class="yx_p">发布日期：2018年04月03日</p>
			</div> -->
			
		</div>
	</div>
	<!--  -->
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/swipe/swipeslider.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>

<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.tag = Utils.getQueryString("tag") || "";
	//if(g.id == ''){g.id = Utils.offLineStore.get("venueaid",false);}
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行

/* **************************************** lodding ******************************************** */	
	
	//跳转国家政策 地方政策
	$('.gn').on('click',function(){
		if(g.tag == '2'){g.tag = '1';}else{g.tag = '2';}
		location.href = "mobile6.html?tag="+g.tag;
	});
	loadPage();
	
/* **************************************** setTing ******************************************** */	


	//加载页面
	function loadPage(){
		//转换国家政策
		if(g.tag == '2'){$('#vue_sel').show();$('.gn.active').removeClass('active').siblings('.gn').addClass('active');}
		getDatalist();//获取 课程列表
		getCitys();//获取城市列表
	}

	//选择城市
	$('#vue_sel').change(function(){
		var _val =  $(this).find("option:selected").val();
		//if(_val == ''){return false;}
		getDatalist();//获取 课程列表
	});
	//搜索框输入
	$('#ser_input').keyup(function(){
		var _val = $(this).val() || '';
		//if(_val == ''){return false;}
		getDatalist();//获取 课程列表
	});
	//获取 列表
	function getDatalist(){
		var ser = $('#ser_input').val() || '';
		var city = $('#vue_sel').val() || '';
		var condi = {};
		condi.search = ser;
		condi.tag = g.tag;
		condi.city = city;
		var url = Base.serverUrl + "policy/";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			success: function(data){
				if(data){
					var count = data.count || 0;
					if(count > 0){
						var data = data.results || [];
						var html = '';
						for(var i=0,len=data.length;i<len;i++){
							var d = data[i] || '';
							var id = d.id || '';
							var name = d.name || '';
							var author = d.author || '';
							html+='<div aid="'+id+'" class="yx_one">'
									+'<h4 class="yx_t">'+name+'</h4>'
									+'<p class="yx_p">发布日期：'+name+'</p>'
								+'</div>';
							
						}
						$('.m21_list').html(html);
					}else{
						Utils.alert('查询为空！');
						$('.m21_list').html('');
					}
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
					$('.m21_list').html('');
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('.m21_list').html('');
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	//点击跳转详情页
	$('.m21_list').on('click','.yx_one',function(){
		var id = $(this).attr('aid') || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		location.href = "detail.html?id="+id+'&p='+3+'&tag='+g.tag;
		
	});

	//获取城市列表
	function getCitys(){
		var condi = {};
		//condi.search = ser;
		var url = Base.serverUrl + "city/";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			async: false,
			success: function(data){
				if(data){
					var count = data.count || 0;
					if(count > 0){
						var data = data.results || [];
						var html = '<option value="">选择城市</option>';
						var data = data[0] || {};
						var data = data.sub_cat || [];
						for(var i=0,len=data.length;i<len;i++){
							var d = data[i] || '';
							var cc = d.sub_cat || '';
							var id = d.id || '';
							var name = d.name || '';
							html+='<option value="'+id+'">'+name+'</option>';
						}
						$('#vue_sel').html(html);
					}		
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

});

</script>
</html>