<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/swipe/swipeslider.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>研学网</title>
	<style>
		.swipslider{margin:0;padding:0;}
	</style>
</head>
<body class="commonBody m6 m2 index m21 m61 m7">
	<div class="header">
		<ul class="h_menu"><li class="active">视频</li></ul>
		<input id="ser_input" class="sle_input" type="text" />
		<a href="index.html" class="bacc"></a>
	</div>
	<div class="vide_div">
		<ul class="vide_list m21_list">
			<!-- <li><i class="ii" style="background:url(../public/img/m2_1.png) no-repeat center center;background-size:cover;"></i><span class="ttt">精英中学刘建伟校长发表感言</span></li>
			<li><i class="ii" style="background:url(../public/img/m2_1.png) no-repeat center center;background-size:cover;"></i><span class="ttt">精英中学刘建伟校长发表感言</span></li>
			<li><i class="ii" style="background:url(../public/img/m2_1.png) no-repeat center center;background-size:cover;"></i><span class="ttt">精英中学刘建伟校长发表感言</span></li>
			<li><i class="ii" style="background:url(../public/img/m2_1.png) no-repeat center center;background-size:cover;"></i><span class="ttt">精英中学刘建伟校长发表感言</span></li>
			 -->
		</ul>
	</div>
	<!--  -->
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/swipe/swipeslider.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>

<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";
	//if(g.id == ''){g.id = Utils.offLineStore.get("venueaid",false);}
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行

/* **************************************** lodding ******************************************** */	
	
	
	loadPage();
	
/* **************************************** setTing ******************************************** */	


	//加载页面
	function loadPage(){
		getDatalist();//获取 课程列表
	}

	
	//搜索框输入
	$('#ser_input').keyup(function(){
		var _val = $(this).val() || '';
		//if(_val == ''){return false;}
		getDatalist();//获取 课程列表
	});
	//获取 列表
	function getDatalist(){
		var ser = $('#ser_input').val() || '';
		var condi = {};
		condi.search = ser;
		var url = Base.serverUrl + "video/";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			success: function(data){
				if(data){
					var count = data.count || 0;
					if(count > 0){
						var data = data.results || [];
						var html = '';
						for(var i=0,len=data.length;i<len;i++){
							var d = data[i] || '';
							var id = d.id || '';
							var name = d.name || '';
							var author = d.author || '';
							var image_url = d.image_url || '../public/img/no.jpg';
							var video_url = d.video_url || '';
							if(video_url != '' && video_url.indexOf('http') <= -1){
								video_url = 'http://'+video_url;
							}
							html+='<li class="ur_one" ur="'+video_url+'"><i class="ii" style="background:url('+image_url+') no-repeat center center;background-size:cover;"></i>'
							+'<span class="ttt">'+name+'</span></li>';
							
						}
						$('.m21_list').html(html);
					}else{
						Utils.alert('查询为空！');
						$('.m21_list').html('');
					}
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
					$('.m21_list').html('');
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('.m21_list').html('');
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	//点击跳转详情页
	$('.m21_list').on('click','.ur_one',function(){
		var url = $(this).attr('ur') || '';
		if(url == ''){Utils.alert('url不能为空！');return false;}
		location.href = url;
		
	});


});

</script>
</html>