<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/swipe/swipeslider.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>研学网</title>
	<style>
		.swipslider{margin:0;padding:0;}
	</style>
</head>
<body class="commonBody m6 m2 index m21 m4">
	<div class="header">
		<ul class="h_menu"><li class="active">往期回顾</li></ul>
		<input id="ser_input" class="sle_input" type="text" />
		<a href="index.html" class="bacc"></a>
	</div>
	
	<div class="m21_div">
		
		<div class="m21_list">
			<!-- <div class="m21_one">
				<div style="background:url(../public/img/m3_1.png) no-repeat center center;background-size:cover;" class="mone_l"></div>
				<div class="mone_r">
					<h4 class="yx_t">湖北麻城革命根据地</h4>
					<p class="yx_p">麻城是著名的革命老根据地；是“黄麻起义”的策源地之一，红四军、红二十八军的组建地，著名的苏区</p>
					<div><span class="po_span"><i></i>湖北省·黄冈市</span><span class="acc_span"><i></i>12322</span></div>
				</div>
			</div> -->

		</div>
	</div>
	
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/swipe/swipeslider.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>

<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";
	g.tag = Utils.getQueryString("tag") || "";
	//if(g.id == ''){g.id = Utils.offLineStore.get("venueaid",false);}
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	

/* **************************************** lodding ******************************************** */	
	
	
	loadPage();
	
/* **************************************** setTing ******************************************** */	

	//加载页面
	function loadPage(){
		getDatalist();//获取 课程列表
	}

	
	//搜索框输入
	$('#ser_input').keyup(function(){
		var _val = $(this).val() || '';
		//if(_val == ''){return false;}
		getDatalist();//获取 课程列表
	});
	//获取 列表
	function getDatalist(){
		var ser = $('#ser_input').val() || '';
		var condi = {};
		condi.search = ser;
		var url = Base.serverUrl + "review/";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			dataType:'json',
			context:this,
			success: function(data){
				if(data){
					var count = data.count || 0;
					if(count > 0){
						var data = data.results || [];
						var html = '';
						for(var i=0,len=data.length;i<len;i++){
							var d = data[i] || '';
							var id = d.id || '';
							var name = d.name || '';
							var desc = d.desc || '';
							var image_url = d.image_url || '../public/img/no.jpg';
							
							html+='<div aid="'+id+'" class="m21_one">'
									+'<div style="background:url('+image_url+') no-repeat center center;background-size:cover;" class="mone_l"></div>'
									+'<div class="mone_r">'
										+'<h4 class="yx_t">'+name+'</h4>'
										+'<p class="yx_p">'+desc+'</p>'
										+'<div><span class="po_span"><i></i>湖北省·黄冈市</span><span class="acc_span"><i></i>12322</span></div>'
									+'</div>'
								+'</div>';
							
						}
						$('.m21_list').html(html);
					}else{
						Utils.alert('查询为空！');
						$('.m21_list').html('');
					}
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
					$('.m21_list').html('');
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('.m21_list').html('');
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	//点击跳转详情页
	$('.m21_list').on('click','.m21_one',function(){
		var id = $(this).attr('aid') || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		location.href = "detail.html?id="+id+'&p='+2+'&tag='+g.tag;
		
	});
	
	

});

</script>
</html>